*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #143f6b;
  min-height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
}

.instructions {
  width: 100%;
  margin: 5% 0 0 0;
  color: rgb(251, 250, 242);
  text-align: center;
}

button {
  color: black;
  background-color: aliceblue;
  width: 8%;
  margin: auto;
  margin-top: 3%;
}

.piano-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
  margin: 10vh 0;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}
